.header {
  text-align: center;
  margin: 2em auto 0;
}
.governorates {
  display: grid;
  grid-template-columns: repeat(3,auto);
  width: 80%;
  /* gap: 2em; */
  column-gap: 2em;
  margin: 2em auto !important;
  text-align: center;
  /* position: relative; */
  /* grid-template-rows: repeat(3,auto); */
  /* grid-template-rows: minmax(100px,auto); */
}
.governorates a{
    /* position: absolute; */
    text-decoration: none;
    color: white;
}


.governorates .imgGovernorates{
    position: relative;
    margin: 2em auto;
}
.governorates strong{
    position: absolute;
    top: 40%;
    left: 37%;
    font-size: 2.5em;
    /* text-decoration: none; */
    /* color: white; */
}
