
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
    font-family: "Cairo", sans-serif !important;
}


.headerM{
    color: #53A0DE;
    text-align: center;
    font-size: 2.5rem;
}
.link {
    text-decoration: none !important;
    color: black;
}
.governoratesContainer {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 4px;
    box-shadow: black 0px 0px 15px -10px;
    border: 1px solid whitesmoke;
}

.mostPopular {
    display: flex;
    gap:2em;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}
.governoratesContainer img {
    /* margin: 0 0 1em; */
    /* margin: 0 0 0.5em 0; */
    /* width: 100%; */
    width: 275px;
    border-radius: 10px;
    /* max-width: 356px; */
}
.governoratesContainer h6 {
    width: 80%;
    text-align: center;
    margin-bottom: 0.2em !important;
    font-size: 1.1rem !important;
    color: #0979D2;
}
.governoratesContainer h6 span {
  margin-top: 1em;
}
.governoratesContainer h4 {
    margin-bottom: -0.4em;
    text-align: center;

    font-size: 2rem;
    font-weight: 700;
    /* align-self: baseline !important; */
    /* margin-left: 10px !important; */
}
.governoratesContainer p {
 text-align: center;
}
.governoratesContainer p svg {
color: #0979D2;
    text-align: center;
    font-size: 1.5em;
   }
.governoratesContainer h2 {
    font-size: 1.9em;
    text-align: center;
    color: #08D2C8;
}

.governoratesContainer button {
    margin-bottom: 1.5em;
    width: 175px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
}
.mostPopular {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}


@media screen and (max-width: 980px) {
    .mostPopular {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 2em auto;
    }
}
