.singleCont{
min-height: 85vh;
margin: 5em auto;
}
.section h2{
    color: #53A0DE;
    text-align: center;
    font-size: 2.5rem;
}
.product-center {
    width: 70%;
    display: grid;
    gap: 4rem;
    /* margin-top: 2rem; */
    margin: 2em auto;
  }
  .product-center img {
    border-radius: 20px;
  }
  .price {
    font-size: 1.8em !important;
    text-align: center;
    color: #08D2C8
  }
  .desc {
    line-height: 2;
    max-width: 45em;
    font-size: 1.1rem;
  }
  .info {
    text-transform: capitalize;
    width: 300px;
    display: grid;
    grid-template-columns: 125px 1fr;

  }
 span {
      font-weight: 700;
    }
  @media (min-width: 992px) {
    .product-center {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    .price {
      font-size: 1.25rem;
    }
  }
