.governoratesContainer{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    border-radius: 4px;
    /* box-shadow: black 0 0 10px; */
}
.governoratesContainer img{
    /* margin: 0 0 1em; */
    margin: 1em 0;
    /* width: 100%; */
    width: 285px;
    /* max-width: 356px; */
}
.governoratesContainer h5{
    width: 80%;
    text-align: center;
    margin: 1em 0;
}
.governoratesContainer h4{
    margin-bottom: 1em;
    font-size: 1.5rem;
}
.governoratesContainer button{
    margin-bottom: 1.5em;
    width: 175px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
}

