.governorates{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* justify-content: center; */
    margin: 0 auto;
}
@media screen and (max-width:950px){
    .governorates{

        grid-template-areas: " governoratesContainer";

    }
}
