.About h1{
    color: #53A0DE;
    text-align: center;
    font-size: 2.5rem;
}
.aboutContainer{
    width: 80%;
  display: grid;
  grid-template-areas: 'textAbout imgAbout';
  margin: 4em auto;
}
.aboutContainer h1{
    margin-bottom: 4em;

}
.textAbout{
    width: 90%;
    margin-right: 2em;
    line-height: 2;
}
.textAbout h2{
    margin-bottom: .6em;
    font-size: 1.8em;
    color: #08D2C8

}
.imgAbout img{
   width: 100%;
   border-radius: 20px;

}

@media screen and (max-width:900px) {
    .aboutContainer{
        width: 90%;
      display: grid;
      grid-template-areas: 'textAbout ''imgAbout';
      margin: 4em auto;
    }
}
