.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}
.CommentsContainer .sendBtn {
    float: right !important;
    background-color: #08d261 !important;
}
.deleteComment{
    float: right !important;
    width: 40px;
    background-color: #D20814;
    border-radius: 3px;
    border: none;
    color: white;
}
